<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sensor_active_">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- for IP seatch in local network -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensor_Active_">
        <activity android:name="com.influx.Graph.LineChart"></activity>
        <activity android:name=".Raspberry_Pages.sketchData" />
        <activity android:name=".Raspberry_Pages.changeUserData" />
        <activity android:name=".Raspberry_Pages.AddSensor" />
        <activity android:name=".Raspberry_Pages.ESP32Sensor" />
        <activity android:name=".Overview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- DEFINE STARTING ACTIVITY HERE -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" /> <!-- Other Activity -->
        <activity
            android:name=".Raspberry_Pages.AddGateway"
            android:label="MainRaspberry" />
        <activity
            android:name=".Raspberry_Pages.connectRaspberry"
            android:label="connectRaspberry" />
        <activity android:name="com.influx.Graph.SetInterface" />
        <activity android:name="com.influx.Graph.RadarChartActivity" />
        <activity android:name="com.influx.Graph.PieChartActivity" />
        <activity android:name="com.influx.Graph.BarChartActivity" />
        <activity android:name="com.influx.login_functions.Login" />
    </application>

</manifest>